<div class="background-image random is-repeat">
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-6-tablet is-5-desktop is-4-widescreen">
                        <div class="box">
                            <figure class="image container" style="max-width: 256px;">
                                <img src="https://res.cloudinary.com/dxiqa0xwa/image/upload/v1587116732/happypuppy/logo/logo_text.png" alt="logo" crossorigin="anonymous" />
                            </figure>

                            <div class="is-divider" data-content="{{ animal }}"></div>

                            <div class="columns is-vcentered">
                                <a href="https://play.google.com/store" target="_blank" class="column">
                                    <figure class="image">
                                        <img src="https://res.cloudinary.com/dxiqa0xwa/image/upload/v1587116732/happypuppy/logo/google_play_badge.png" alt="google play" crossorigin="anonymous" />
                                    </figure>
                                </a>
                                <div class="column has-text-centered">
                                    <h6 class="subtitle is-5">
                                        We <i class="fas fa-heart has-text-danger"></i> animals
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>